.bloc {
    display: flex;
    min-width: 1200px;



}

.pageinfo {
    position: absolute;
    min-width: 1185px;
    background-color: #E5E5E5;
}

.nameList {
    padding-top: 64px;

    button {
        font-size: 20px;
    }

    small {
        font-size: 17px;
    }

    img {
        width: 13px;
    }
}

.list {
    display: flex;
    padding-top: 34px !important;

    small {
        margin: 0px 70px 0px 0px;
    }
}

.form {
    width: 300px;
    padding: 32px;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: #fff;



    .form_grup {
        position: relative;
        margin-bottom: 32px;

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            border-color: transparent;
            outline: none;
            border-bottom: 1px solid #9e9e9e;
            padding: 0 126px 7px 0;

        }

        .popuplist {
            background-color: #fff;
            padding: 17px 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

            small {
                display: block;
                padding: 2px 0;
            }
        }
    }

    .form_input {
        width: 100%;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        padding: 0 0 10px 0;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        background-color: transparent;
        outline: none;
        transition: 0.3s;

        &:focus {
            border-bottom: 1px solid #1a73a8;
        }
    }

    .form_label {
        position: absolute;
        top: 0;
        z-index: -1;
        color: #9e9e9e;
        transition: 0.3s
    }

    h2 {
        margin: 0 0 20px 0;
        font-weight: normal;
    }
}