.nameList {
    padding-top: 64px;

    button {
        font-size: 20px;
    }
}

.list {
    max-width: 600px;
    display: flex;
    padding-top: 34px !important;

    small {
        margin: 0px 70px 0px 0px;
    }
}