<div class="bloc">
    <div class="container">
        <div class="pageinfo">
            <h1>SpaceX Ships</h1>
            <div *ngFor="let list of filteredUsers$ | async | searchPosts: searchStr| paginate: { itemsPerPage: 5, currentPage: p } let idx = index"
                class="nameList">
                <button [routerLink]="['/card', list.id]">{{list.name}} <img src="/assets/svg/icon.svg" /></button>
                <div class="list">
                    <small>Фамилия:</small>
                    <small><a href="#">{{list.username}}</a></small>
                    <small>Почта:</small>
                    <small><a href="#">{{list.email}}</a></small>
                </div>
                <hr>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

    <form class="form">
        <h2>Фильтры</h2>
        <div class="form_grup">
            <input class="form_input" type="text" [(ngModel)]="searchStr" name="searchStr">
        </div>
        <div class="form_grup" (clickOutside)="clickOutside()">
            <input (click)="toggleMenu()" class="form_input" type="text" [(ngModel)]="usersCount"
                [ngModelOptions]="{standalone: true}" />
            <div *ngIf="isMenuOpened" class="popuplist">
                <small *ngFor="let list of users$ | async">
                    <input [formControl]="usernameControl" type="checkbox">{{list.username}}
                </small>
            </div>
        </div>
        <div>
            <h2>тип</h2>
            <div *ngFor="let  user of users$ | async">
                <input type="checkbox" value="" (change)="onChange($event, user.id)"> {{user.name}}
            </div>

        </div>
    </form>
</div>